
body{
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
}

.meal-list img{
    height: 240px;
    width: 180px;
}

.meal-list{
    width: 90%;
    margin: auto;
}/*
.meal-list td{
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 25px;
    }
*/


footer{
    text-align: center;
}

footer img{
    height: 35px;
    width: 55px;
}


caption{
    font-size: 35px;
    text-decoration: none;
    color:crimson;
}

.meal-list h3{
    padding-top: 40px;
}

.meal-list td:hover{
    color:white ;
    background-color:crimson ;
}



article{
    width: 50%;

}

#resume{

    margin: auto;
    text-align: center;
    width:50%;
    display: flex;
    flex-direction: row;

}

form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


input  {

    padding: 10px;
    width: 30%;
}
fieldset{
    display: flex;
    flex-direction: column;


    border: solid 1px black;

}


textarea{

    padding: 10px;
    width: 30%;
}

label{
    text-align:left;
    padding: 5px 0 5px 0;
}

button{
    margin: 25px;
    padding: 10px;
    width: 10%;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    background-color: #d01d33 ;
    color: white;
}

#btna{
    margin: 25px;
    padding: 10px;
    width: 10%;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    background-color: #d01d33;
    color: white;
}

.up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 25px;}

.up a{
    color:#18b6e3;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: snow;
    padding: 15px;
    margin: 3px;
text-decoration: none;
}


#formnote{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#formnote div{
    margin: 10px;


}



#ajaximg{

    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid midnightblue ;
    border-radius: 50px 50px 50px 50px;
}

#ajaximg p{
    font-size: 25px;
}

#ajaximg img{
    height: 240px;
    width: 180px;
    padding: 25px;
    border-radius: 50px 50px 50px 50px;

}
#ajaximg p{
    display: flex;
    flex-direction: column;
    margin: 70px;
}

#viewcart{
    text-align: center;
}
#viewcart li{
    list-style-type: none;
    padding: 10px;


}

#poube{
    padding: 2px;

    margin: 0;
    margin-left: 35px;
    background-color: navy;
    color: white;
    width: 5%;

}


table{
    text-align: center;
    margin: auto;
    width: 100%;

}

td{
    padding: 5px;
}
th{
    padding: 20px;
    color: #06988d;
}

.meal-list tr{
    display: flex;
    flex-wrap: wrap;
}



tr:nth-child(even){
    background-color: #97ff9433;}


#recapnom{
    margin: auto;
    text-align: center;
    width: 30%;
    height: 50%;
    background-color: mintcream;
    border-radius: 50px 50px 50px 50px;
    font-size: 25px;
}


#totalcom{
    padding: 50px;
    width: 30%;
    margin-top:50px;

}


.meal-list1 img{
    height: 250px;
    width: 350px;
}

.meal-list1{
    width: 90%;
    margin: auto;}


.meal-list1 td{
    padding: 5px;
}
.meal-list1 th{
    padding: 20px;
    color: #06988d;
}




.meal-list1 tr:nth-child(even){
    background-color: #97ff9433;}

#critere{

    padding: 5px 35px 5px 35px;

}



#categonote{
    display: flex;
    justify-content: space-between;
}


#joueur{
    border-radius: 50px 50px 50px 50px;
}


#homeimg{
    background-size: cover;
}

#imgac{
     width: 80%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;

}

#imgac figure{
    width:30%;
    padding: 5px;
    text-align: center;


}

#imgac img{
    width:90%;


}

figcaption{
    font-size: 25px;
}


.containerhome {
    max-width: 90%;
    min-width: 800px;
    margin: 0 auto;
}

h1{
    color: white;
    font-size: 40px;
    margin:0;
}

 h2, h3 {
    font-family: "Slabo 27px";
    font-weight: normal;
    margin: 0;
}

/* CTA = Call To Action */
.cta {
    font-family: "Slabo 27px";
    font-size: 1.1em;
    color: white;
    background-color: #1B9CA2;
    padding: 5px 15px;
    float: right;
    margin-top: 15px;
}

.cta i {
    margin-left: 10px;
}

/* HEADER */
header {
    background-color: #18b6e3 ;
    border-top: 5px solid #18b6e3;
    border-bottom: 5px solid #18b6e3;

    text-align: center;
}

header a {
    display: inline-block;
    font-family: "Slabo 27px";
    font-size: 1.4em;
    color: white;
    padding: 15px;
}

/* CONTENT */
section p {
    margin: 15px 0;
}

section h1 {
    text-align: center;
    font-size: 2.5em;
}

#presentation {
    width: 750px;
    margin: 50px auto 0;
    text-align: center;
}

/* Rubrique News */
#recipe {
    width:40%;
    display: inline-block;
    vertical-align: top;
    background-color: snow;
    padding: 2.5%;
    margin: 50px 5px 0 0;
    border: 1px solid #18b6e3;

}

#recipe h2 {
    font-size: 3.5em;
    text-align: center;
}

#recipe h2 span {
    color: #1b9ca2;
}

#recipe h3 {
    text-align: center;
    font-size: 1.8em;
}

#recipe h3 i {
    color: #25B3B4;
    margin: 0 5px;
    font-size: 0.8em;
}

#recipe article {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}


#recipe article:hover{
    color:white ;
    background-color:crimson ;
}

#recipe img {

    width: 90%;

}

/* Rubrique sur le  Coté */
aside {
    width: 15%;
    display: inline-block;
    padding: 2.5%;
    margin-top: 50px;
    background-color: #18b6e3;
    color: white;
    border: 5px solid #18b6e3;
}

#aside1{
    width:19%;
    display: inline-block;
    padding: 2.5%;
    margin-top: 50px;
    background-color: #18b6e3;
    color: black;
    border: 1px solid #18b6e3;
    vertical-align: top;
}

aside h2 {
    font-size: 1.4em;
}

aside span {
    color: #B6DFDD;
}

aside a {
    color: #B6DFDD;
}

aside p {
    font-size: 0.9em;
    margin: 0 0 15px;
}

#vignette {
    margin: -75px -75px 0 0;
    float: right;
}

#api a{
    text-decoration: none;
    color:black;
}

#api a:hover{
    color: white;
}









@media screen and (max-width: 1024px) {



}


@media screen and (max-width: 600px) {


    header{
        display: flex;
        flex-direction: column;


    }

    header div{
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    header div span{
        display: flex;
        flex-direction: column;


    }

    #formnote{
        width: 80%;
        display: flex;
        justify-content: center;


    }

    #categonote{
        display: flex;
        flex-direction: column;
    }


    #aside1{
        display: none;
    }
    aside{
        display: none;
    }

}
